.contact{
    background-color: #2979fe;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;

    .warpper{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
        }

        button{
            padding: 10px;
            color: white;
            background-color: #333;
            border-radius: 0 5px 5px 0;
            border: none;
            
        }
        .icons{
            display: flex;
            gap: 10px;
        }
    }
}


//tablet
@media (max-width:768px){
    .contact{
        .warpper{
            width: 100%;
        }
    }
}

//mobile
@media (max-width:480px){
    .contact{
        .warpper{
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
    }
}

//laptop
@media (max-width:1024px){
    .contact{
        .warpper{
            width: 80%;
        }
    }
}